@font-face { font-family: g; font-weight: 900; src: url('../assets/font/g-black.ttf'); }

html {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.app {
	position: relative;
	height: 100%;
	height: 100vh;
	width: 100%;
	width: 100vw;
}



.search-bar {
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 100%;
    font-size: 180px;
    color: #FFF;
}

.search-bar input {
	font-family: g;
	font-weight: 900;
	text-align: center;
    width: 100%;
    background-color: transparent;
    border: none;
	text-transform: uppercase;
	word-break: break-word;
}
.search-bar input:active,
.search-bar input:focus {
	outline: none;
}

.video-item img {
	max-width: 64px;
}

.video-detail {
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
}

.list-group-item {
	cursor: pointer;
}
.list-group-item:hover {
	background-color:#eee;
}